.fork-s1 .btn{
    text-decoration: none;
    font-size: 15px;
    color: #c3191c;
    border: 1px solid #c3191c;
    width: fit-content;
    margin-top: 1rem;
}
.fork-s1  .btn:hover {
    background-color: #c3191c;
    color: white;
  }